body{
	background-color:#000000;
color:#ffffff;

}
a{text-decoration:none;
color:#ffffff;
}
.links > a:hover
{
	color:#b30000;
}
#box{
	width:1020px;
	margin-left:auto;
	margin-right:auto;
}
#text {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding-bottom:50px;
	
}

#title{
	padding:40px;
	background-color:#2d2d86;
	min-height:140px;
	width:920px;
	text-align:center;
	border: 3px solid #ffffff;
/*
jesli uzywasz takiej samej ramki z czterech stron 
to wystarczy napisac border: .... 
zamiast border-top,border-right....
*/
    
}
#mediumpart{

	min-width:1000px;
	min-height:400px;
}
#topside{
	float:top;
	
}
#topsidemenu{
	border-right: 3px solid #ffffff;
	border-bottom:3px solid #ffffff;
	border-left:3px solid #ffffff;
	background-color:#2d2d86;
			width:1000px;
			min-height:100px;
			padding-top:10px;
			float : top;
}
#picture{
height: 200px;
width: 250px;

}
#content{
	float:top;
	
	width:1000px;
	min-height:800px;
				
}
#welcome{
	width:500px;
	min-height:50px;
	background-color:#000000;
	margin-left:auto;
	margin-right:auto;
	color:#ffffff;
	text-align:center;
	padding-top:20px;
	font-size:40px;
}
	#form{
		padding-top:30px;
		font-size:80px;
	width:500px;
	height:50px;
	background-color:#000000;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#footer{
    float:center;
	padding:20px;
	text-align:center;
	font-size:15px;
	font-family:Roboto;
	width:1000px;
	min-height:20px;
    border: 3px solid #ffffff;
	background-color:#2d2d86;
	margin-left:auto;
	margin-right:auto;
}
#cv{
	padding-top:50px;
	float:center;
	width:500px;
	min-height:100px;
	text-align:center;
	font-size:50px;
	margin-left:auto;
	margin-right:auto;
}
#photo{
	
	padding-top:50px;
	float:center;	
	text-align:center;
}
#photo+cv{
	width:1000px;
	min-height:150px;
}	
.links{
	font-size:20px;
	font-family:"Roboto";
	text-align:center;
	padding-top:10px;
	padding-left:20px;
	width:130px;
	height:30px;
	margin-top:30px;
	margin-left:30px;
	float:left;
}	
#titlewriteup{
	margin-left:auto;
	margin-right:auto;
	font-size:100px;
	font-family:"arizonia";
	text-align:center;
	padding-top:10px;
}
#text{
	float:left;
	margin-left:auto;
	margin-right:auto;
	font-size:30px;
	font-family:"Roboto";
	text-align:center;
	padding-top:10px;
	width:1000px;
}
.links:hover{
	font-size:20px;
	background-color:#000000;
	color:#b30000;
	}
	.title{
	margin-left:auto;
	margin-right:auto;
	font-size:40px;
	font-family:"Roboto";
	text-align:center;
	width:800px;
min-height:30px;
margin-bottom:30px;
margin-top:30px;
}	
.title:hover{
	font-size:50px;
	background-color:#2d2d86;
	color:#b30000;
	}
.cv{
	text-align:center;
	padding-bottom:5px;
	font-size:18px;
	color:#ffffff;
	margin-left:auto;
	margin-right:auto;
	padding-top:5px;
    min-width:800px;
	min-height:80px;
	border-bottom:1px solid #ffffff;
}
#last{
	text-align:center;
	padding-bottom:5px;
	font-size:18px;
	color:#ffffff;
	margin-left:auto;
	margin-right:auto;
	padding-top:5px;
    min-width:800px;
	min-height:80px;
}
table, th, td {
	border:1px solid #ffffff;
	width:400px;
	
}
#table1{
	padding-top:20px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
	float:right;
}
#bulletlist{
	float:left;
	margin-left:auto;
	margin-right:auto;
	width:400px;
}



#contact-form {
    background-color:#2d2d86;
    width:465px;
    padding:20px;
    margin: 50px auto;    
    border: 6px solid #ffffff;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    position:relative;
}
 
#contact-form h1 {
    font-size:42px;
}
 
#contact-form h2 {
    margin-bottom:15px;
    font-style:italic;
    font-weight:normal;
}
 
#contact-form input, 
#contact-form select, 
#contact-form textarea, 
#contact-form label {
    font-size:15px;
    margin-bottom:2px;
}
 
#contact-form input, 
#contact-form select, 
#contact-form textarea {
    width:450px;
    border: 1px solid #CEE1E8;
    margin-bottom:20px;
    padding:4px;
}
 
#contact-form input:focus, 
#contact-form select:focus, 
#contact-form textarea:focus {
    border: 1px solid #AFCDD8;
    background-color: #EBF2F4;
}
 
#contact-form textarea {
    height:150px;
    resize: none;
}
 
#contact-form label {
    display:block;
}
 
#contact-form .required {
    font-weight:bold;
    color:#F00;    
}
 
#contact-form #submit-button {
    width: 100px;
    background-color:#333;
    color:#FFF;
    border:none;
    display:block;
    float:right;
    margin-bottom:0px;
    margin-right:6px;
    background-color:#8FB5C1;
    -moz-border-radius:8px;
}
 
#contact-form #submit-button:hover {
    background-color: #A6CFDD;
}
 
#contact-form #submit-button:active {
    position:relative;
    top:1px;
}
 
#contact-form #loading {
    width:32px;
    height:32px;
    background-image:url(../img/loading.gif);
    display:block;
    position:absolute;
    right:130px;
    bottom:16px;
    display:none;
}
 
#errors {
    border:solid 1px #E58E8E;
    padding:10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#FFE6E6 url(../img/cancel_48.png) no-repeat 405px center;
    display:none;
}
 
#errors li {
    padding:2px;
    list-style:none;    
}
 
#errors li:before {
    content: ' - ';    
}
 
#errors #info {
    font-weight:bold;
}
 
#errors #info:before {
    content: '';    
}
 
#success {
    border:solid 1px #83D186;
    padding:25px 10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#D3EDD3 url(../img/accepted_48.png) no-repeat 405px center;
    font-weight:bold;
    display:none;
}
 
#errors.visible, #success.visible {
    display:block;    
}
 
#req-field-desc {
    font-style:italic;
}
 
/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}
 
/* Normalize placeholder styles */
 
/* chrome, safari */
::-webkit-input-placeholder {
    color:#CCC;
    font-style:italic;
}
 
/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
    color:#CCC;
    font-style:italic;
}
 
/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  { 
    color:#CCC;
    font-style:italic;
}
